.splashScreenPage{
     background:
    radial-gradient(
      circle at 15% 35%,
      #0b3548 0%,
      transparent 35%
    ),
    linear-gradient(
      110deg,
      #08283b 0%,
      #071f30 45%,
      #080f20 100%
    );

  min-height: 100vh;
  margin: 0;
}
.splashTopImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220px;
}

/* Bottom decorative image */
.splashBottomImage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 220px;
}

/* Center content */
.splashContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 150px;
  z-index: 1;
  line-height: 0.5;
}

.splashContent img {
  width: 256px;
  height: 256px;
  object-fit: contain;
}

.logoText{
    font-size: 40px;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Arial, sans-serif;
    color: white;

}

.logoText span{
    color: #00D4FF;
}

.splashContent p{
    font-size: 18px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Arial, sans-serif;
    color: #BBC9CFCC;

}

.getStartedButton{
    height: 62px;
    width: 230px;
    border-radius: 999px;
    background-color: #00D4FF1A;
    border: 1px solid #00D4FF66;
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    letter-spacing: 3px;
    
}
