.product-card {
  width: 660px;
  min-height: 310px;

  background-color: white;

  margin-top: 15px;
  border-radius: 10px;

  display: flex;
  align-items: center;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
}

.product-image {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  width: 290px;
  height: 180px;

  object-fit: contain;
}

.product-info {
  width: 50%;
  padding: 20px;
  gap: 20px;
}

.product-info h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.product-info h3 {
  color: #c9554b;
  margin-bottom: 15px;
}

.product-info p {
  font-size: 13px;
  line-height: 1.5;
  color: #444;
}

.product-info button {
  margin-top: 15px;

  background-color: #527fa5;
  color: white;

  border: none;
  border-radius: 5px;

  padding: 9px 17px;

  cursor: pointer;
  margin-right: 10px;
}

.product-info .removeBtn{
    background-color: rgb(237, 90, 90);
    
}

.product-info button:hover {
  background-color: #3f698b;
}